body {
    text-align:center;
}
.span1{
    background: linear-gradient(transparent 60%, #ffff66 60%);
}
.span2 {
    background: linear-gradient(transparent 60%, #ffff66 60%);
    font-size: 80%;
}
h1{
    font-family:
   "MS 明朝",
   serif;
font-weight: bold;
}
h1:first-letter {
  font-size: 2em;
  color: #7172ac;
}
table{
    margin:8px auto;  
}
.span1{
    background: linear-gradient(transparent 60%, #ffff66 60%);
}
.span2{
    background: linear-gradient(transparent 60%, #ffff66 60%);
    font-size:80%;
    /*;*/
}